* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.navbar-nav{
  margin-left: auto;
  margin-right: auto;
}
.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
url('./img/banner-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  margin-bottom: 3px;

}
.links{
  color: white ;
  font-weight: 500;
  font-size: 1.1rem;
  padding-top: 1.5rem;
  margin: 0.5rem;
  transition: .8s;
  text-decoration: none;
}
.links:hover {
 margin-top: 4px;
  color: #e90e65 ;
 
}

.hero-text-container {
  text-align: center;
  color: white;
  margin-top: 12rem;
}
.hero-text-container > h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.hero-text-container > button {
  border: 2px solid #e90e65;
  outline: none;
  background: transparent;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  width: 12rem;
  padding: 6px 10px;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.hero-text-container > button:hover {
  background-color: #e90e65;
  transform: scale(1.1);
}
/* About Images */
.about-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ebd8df;
}
.about-images > img {
  width: 40rem;
}
.about-section {
  background-color: #e90e65;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  margin-top: 5px;
}
.about-img-container > img {
  width: 450px;
  height: 400px;
}
.about-text-container {
  background-color: white;
  width: 450px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2rem;
}
.about-text-container > h2 {
  font-weight: 600;
  color: black;
}
.about-text-container .job {
  color: gray;
}
.about-description {
  color: rgba(0, 0, 0, 0.808);
  margin-bottom: 1rem;
}
.about-text-container > button {
  background-color: #e90e65;
  color: white;
  padding: 8px 26px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid black;
} 
/* recent work */
.recent-work {
  background-color: #e90e65;
  padding-top: 1rem;
  text-align: center;
}
.recent-work > h2 {
  color: white;
}
.recent-work-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.product-photography {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/recent-img2.jpg');
}
.tour-portrait {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/recent-img3.jpg');
}
.modal-photography {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/recent-img1.jpg');
}
.classical-photography {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/recent-img4.jpg');
}
.recent-images {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
  width: 250px;
  border-radius: 10px;
  margin-top: 1rem;
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.recent-images:hover {
  transform: scale(1.07);
}
.recent-images > h5 {
  color: white;
}
.recent-images > p {
  color: #e90e65;
}
/* Portfolio Section */
.img-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/portfolio-img1.png');
}
.img-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/portfolio-img2.png');
}
.img-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/portfolio-img3.png');
}
.img-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/portfolio-img4.png');
}
.img-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/portfolio-img5.png');
}
.img-6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/portfolio-img6.png');
}
.img-7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/portfolio-img7.png');
}
.img-8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/portfolio-img8.png');
}
.img-9 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/portfolio-img1.png');
}
.portfolio-images {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px;
}
.portfolio-images > h5 {
  color: white;
}
.portfolio-section {
  background-image: url('./img/camera-bg.jpg');
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.portfolio-section > h2 {
  color: black;
  text-align: center;
  text-transform: uppercase;
}
.portfolio-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  justify-content: center;
  display: grid;
  grid-template-rows: repeat(3, 300px);
  grid-template-columns: repeat(auto-fit, minmax(300px, 320px));
  grid-gap: 1rem;
}
/* Blog Section */
.blog-section {
  background-color: #e90e65;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
.blog-section > h2 {
  color: white;
}
.blog-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.blog-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/activity-img1.png');
}
.blog-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/activity-img2.png');
}
.blog-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/activity-img3.png');
}
.blog {
  height: 450px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 0.25s ease;
  margin-top: 1rem;
  border-radius: 20px;
}
.blog:hover {
  transform: scale(1.07);
}
.contact-us{
  background-color: rgba(128, 128, 128, 0.178);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.contact-us > h3 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.contact-us> p {
  color: #5d5b5d;
  margin-bottom: 2rem;
}
.contact-us-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-section > input {
  margin-bottom: 1rem;
  width: 300px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 22px;
}
textarea {
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 5px;
}
.contact-us > button {
  color: #fff;
  background-color: black;
  padding: 8px 18px;
  font-weight: 500;
  border-radius: 24px;
  margin-top: 2px;
  margin-left:500px;
  transition: all 0.35s ease;
}
.contact-us> button:hover {
  color: white;
  background-color: #2c88b3;
}
/* FOOTER SECTION STYLING */
.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.footer > img {
  margin-bottom: 1rem;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.menu > a {
  text-decoration: none;
  color: white;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}
/* Media Queries */
@media (max-width: 1119px) {
  .portfolio-container {
    display: grid;
    grid-template-rows: repeat(5, 300px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 320px));
    grid-gap: 1rem;
  }
  .contact-form {
    width: 500px !important;
  }
}
@media (max-width: 745px) {
  .portfolio-container {
    display: grid;
    grid-template-rows: repeat(9, 300px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 320px));
    grid-gap: 1rem;
  }
  .hero-text-container > h1 {
    font-size: 2rem;
  }
  .hero-text-container > button {
    width: 8rem;
  }
}
@media (max-width: 665px) {
  .about-images > img {
    width: 400px;
  }
  .about-section {
    margin-top: 0;
  }
  .about-img-container > img {
    width: 400px;
  }
  .about-text-container {
    width: 400px;
  }
  .about-description {
    font-size: 14px;
  }
}
@media (max-width: 520px) {
  .hero-text-container > h1 {
    font-size: 1.5rem;
  }
  .hero-text-container > button {
    font-weight: 400;
  }
  .contact-form {
    width: 400px;
  }
}
